<!DOCTYPE html >
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>SCR5|SkyWar</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <main style ="width: 1024px; margin: 0 auto;">
      <div class="container">
        <div class="row align-text-top">
          <div class="col align-self-start">
            <h2>{{ heroes.player.name }}</br>класс: <em>{{ heroes.player.unit_class.name }}</em></h2>
            <p><em>Экипировка:</em></p>
            <hr>
            <p>Оружие: {{ heroes.player.weapon.name }}, урон: {{ heroes.player.weapon.min_damage }} - {{ heroes.player.weapon.max_damage }}</br> Броня:
              {{ heroes.player.armor.name }}, защита: {{ heroes.player.armor.defence }}</p>
            <hr>
            <p><em>Информация:</em></p>
            <hr>
            <p>Очки здоровья: {{ heroes.player.health_points }}/{{ heroes.player.unit_class.max_health }}</br> Очки выносливости:
              {{ heroes.player.stamina_points }}/{{ heroes.player.unit_class.max_stamina }}</p>
          </div>
          <div class="col align-self-center">
            <button type="button" onclick="window.location.href='/fight/hit'" class="btn btn-success m-2">Нанести удар</button></br>
            <button type="button" onclick="window.location.href='/fight/use-skill'" class="btn btn-danger m-2">Использовать умение</button></br>
            <button type="button" onclick="window.location.href='/fight/pass-turn'" class="btn btn-warning m-2">Пропустить ход</button></br>
            <button type="button" onclick="window.location.href='/fight/end-fight'" class="btn btn-secondary m-2">Завершить бой</button>
          </div>
          <div class="col align-self-start">
            <h2>{{ heroes.enemy.name }}</br>класс: <em>{{ heroes.enemy.unit_class.name }}</em></h2>
            <p><em>Экипировка:</em></p>
            <hr>
            <p>Оружие: {{ heroes.enemy.weapon.name }}, урон: {{ heroes.enemy.weapon.min_damage }} - {{ heroes.enemy.weapon.max_damage }}</br> Броня:
              {{ heroes.enemy.armor.name }}, защита: {{ heroes.enemy.armor.defence }}</p>
            <hr>
            <p><em>Информация:</em></p>
            <hr>
            <p>Очки здоровья: {{ heroes.enemy.health_points }}/{{ heroes.enemy.unit_class.max_health }}</br> Очки выносливости:
              {{ heroes.enemy.stamina_points }}/{{ heroes.enemy.unit_class.max_stamina }}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <hr>
        <div class="row">
          <div class="col align-content-center">
            <p><em>{{ result }}</em></p>
            <p>{{ battle_result }}</p>
          </div>
        </div>
        <hr>
      </div>
    </main>
  </body>
</html>
