<!DOCTYPE html >
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>SCR5|SkyWar</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <main style ="width: 320px; margin: 0 auto;">
      <div class="container">
        <h2>{{ result.header }}</h2>
      <form action="", method="post">
        <div class="form-group">
            <input type="text", name="name" class="form-control" placeholder="Имя героя">
          <hr>
          <select class="custom-select" name="unit_class" required>
             <option value="">Выберите класс</option>
              {% for class in result.classes %}
                  <option value="{{ class }}">{{ class }}</option>
              {% endfor %}
           </select>
          <hr>
            <select class="custom-select" name="weapon" required>
             <option value="">Выберите оружие</option>
              {% for weapon_name in result.weapons %}
                  <option value="{{ weapon_name }}">{{ weapon_name }}</option>
              {% endfor %}
           </select>
          <hr>
          <select class="custom-select" name="armor" required>
             <option value="">Выберите броню</option>
              {% for armor_name in result.armors %}
                  <option value="{{ armor_name }}">{{ armor_name }}</option>
              {% endfor %}
           </select>
          <hr>
          </div>
        <button class="btn btn-success" type="submit">Выбрать героя</button>
       </form>
      </div>
    </main>
  </body>
</html>
